@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
#body{
    background-color: white;
    font-size: 1.5em;
    overflow-x: hidden;
    font-family: "Open Sans", serif;
}
.navbar ul{
    display: flex;
    list-style: none;
    justify-content:space-between;
    align-items: center;
}
.navbar ul span{
    display: flex;
    background-color: #edeaeb;
    width: 330px;
    border: 2px solid #ddd5d1;
    height: 43px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding-left: 0px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
#dashboard{
    padding: 10px;
}
#dashboard:hover{
    background-color: #085f57;
    color: white;
    border-radius: 40px;
    padding: 7px 10px;
    top:0;
    transition: background-color 0.5s ease-in-out;
}
.navbar ul span li{
    margin-right: 50px;
}
.navbar ul span li a:active{
    color: white;
}
.navbar ul span a:hover{
    background-color: #085f57;
    color: white;
    border-radius: 40px;
    padding: 7px 10px;
    top:0;
    transition: background-color 0.5s ease-in-out;
}
.hoverit{
    margin-right: 60px;
}
.hoverit img{
    font-size: 10px;
}
.navbar ul .dropdown{
    display: block;
    position: absolute;
    padding: 10px 5px;
}
.navbar ul .dropdown li{
    padding: 0px;
}
.navbar ul .dropdown{
    display: none;
}
.navbar ul .dropdown a{
    color: black;
}
.navbar ul .hoverit:hover .dropdown{
    display: block;
}
.navbar ul span #dashboard{
    margin-left: 3px;
}
#maintag{
    display: block;
    margin: 30vh auto;
    text-align: center;
}
.cont{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #18181B;
    border-radius: 20px;
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.input-fields{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18181B;
    padding: 10px;
    margin-left: 20px;
}
.input-1,.input-2,.input-3{
    background-color: #18181B;
    border: none;
    outline: 0;
    color: white;
    margin-left: 20px
}
.container button{
    display: block;
    background-color: #BEF264;
    width: 110px;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
}

.cont-2{
    display: none;
    background-color: #18181B;
    margin-top: 10px;
    border-radius: 20px;
    width: 600px;
}
.container-2{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
#showpopup{
    background: none;
    border: none;
    margin-left: 30px;
    font-size: 15px;
    color: #ddd5d1;
}
#button_02{
    height: 40px;
    width: 110px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #BEF264;
    border: none;
}
.popup {
    height: auto;
    width:300px;
    margin: 20vh auto;
    display: flex;
    background-color: #085f57;
    text-align: center;
    box-shadow: 5px 5px 10px #000000;
    padding: 20px;
    display: none;    /* Initially hidden */
}

.popup #inputs{
    text-align: center;
    margin: 10vh auto;
}
#mailid-01{
    outline: none;
    padding: 8px 20px;
    border-radius: 10px;
    border: 1px solid #564e4e;
    box-shadow: 5px 5px 10px #000000;
}
#button-01{
    padding: 7px 20px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid #000000;
    background: none;
    mix-blend-mode: lighten;
}
#toggleit{
    background:none;
    border-radius: 30px;
    font-size: 25px;
    height: 30px;
    display: flex;
    width: 30px;
    border: 1px solid #000000;
    cursor: pointer;
}